<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
  </head>
  <body>
    <!-- <p>Node Express Image Upload and Resize Example</p> -->
    <p>Image Upload</p>
    <form method="post" action="upload/post" enctype="multipart/form-data">
      <label for="title">Title</label>
      <input type="text" name="title" /><br />
      <label for="image">Attach</label>
      <input type="file" name="image" /><br /><br />
      <button type="submit" name="upload">Upload</button>
    </form>
  </body>
</html>